@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  background-image: url(https://wx-img.jhrx.cn/xiangqin/2022/img/bg/icon_sys_site_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}
