@import './iconfont/iconfont.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon-primary {
  color: var(--primary);
}

:root {

  /* 字体颜色 */
  --font-title: rgba(0, 0, 0, 0.85);
  --font-primary-title: rgba(0, 0, 0, 0.65);
  --font-secondary-title: rgba(0, 0, 0, 0.45);
  --disable: rgba(0, 0, 0, 0.25);
  --border: rgba(0, 0, 0, 0.15);
  --backaground: rgba(0, 0, 0, 0.04);
  --primary: #1890ff;


  --small-border-radious: 0.3rem;
}

/* 超出隐藏 */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}