.singlePeople {
  display: flex;
  background-color: #fff;
  width: 96%;
  margin: 0.2rem 2% 0.25rem;
  padding: 0.3rem;
  border-radius: var(--small-border-radious);
  box-sizing: border-box;
}

.singlePeopleAvatar {
  width: 4rem;
  height: 4rem;
}

.singlePeopleInfo {
  flex: 1;
  padding-left: 0.5rem;
  overflow: hidden;
}

.singlePeopleInfoBase {
  display: flex;
  line-height: 1.5rem;
  height: 1.5rem;
}

.singlePeopleInfoBaseName {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-color);
}

.singlePeopleInfoBaseAuth {
  margin-left: .5rem;
  font-size: 0.5rem;
  line-height: 1.8rem;
  color: var(--font-secondary-title);
}

.singlePeopleInfoDetail {
  font-size: .62rem;
  line-height: 1.35rem;
  font-weight: 500;
  color: var(--font-secondary-title);
}

.singlePeopleInfoDemand {
  font-size: .6rem;
  line-height: 1rem;
  font-weight: 500;
  color: var(--font-secondary-title);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
